@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "LifeCraft";
  src: "../public/LifeCraft_Font.ttf";
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #131517;
  color: white;
  font-family: "Titillium Web";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./components/resources/darkletter2.png");
}

/*------ NAVBAR START  ------*/
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  padding: 8px 0px;
  width: 100%;
  border-bottom: 1px solid black;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px rgb(0 0 0 / 40%), 0 0 0 1px rgb(255 255 255 / 4%);
}

.navbar .navbar-menu {
  display: flex;
  justify-content: end;
  width: 100%;
}

.navbar a {
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.navbar a svg {
  margin-right: 0.25em;
  font-size: 1.2em;
}

.navbar .todos-link {
  flex: 1;
}

/*------ HEADER START  ------*/

.header {
  display: flex;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.header > h1 {
  color: #f6c03b;
  font-family: "LifeCraft";
  font-size: 46px;
  text-shadow: 2px 0 10px #171512;
}

.header > img {
  max-width: 100px;
}

/*------ MAIN-CONTAINER START  ------*/
h2 {
  color: white;
  padding-left: 8px;
  width: 70%;
  text-align: start;
}

.task-completed {
  text-decoration: line-through;
  color: #cd7021;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a69274;
  width: 70vw;
  padding: 2rem;
  height: auto;
  min-height: 30rem;

  /* styling */
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #3c3c3c;
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 40%), 0 0 0 1px rgb(255 255 255 / 4%);
}

ul {
  width: 80%;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background-image: url("./components/resources/incomplete.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked + label {
  background-image: url("./components/resources/completed.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
  padding: 0 0 0 0px;
}

/* link colors */
a {
  color: #f9c23e;
  text-decoration: none;
}

a:hover {
  color: white;
  transition-duration: 300ms;
}

a:active {
  color: #fcb100;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
}

.fantasy-button {
  margin: 10px auto;
  width: 110px;
  letter-spacing: 2px;
  border-radius: 8px;
  /* font-family: '', cursive; */
  color: #ffc000;
  font-size: 14px;
  font-weight: 800;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgb(1 1 1 / 30%);
}

.fantasy-button:hover {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.fantasy-button:active {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

form > label {
  font-size: 18px;
}

form > input {
  padding-inline: 8px;
  width: 200px;
  border-radius: 8px;
  height: 24px;
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgb(1 1 1 / 30%);
}

form > input:focus {
  outline: none;
}

/*------ SIGNIN START  ------*/
.text-shine {
  flex: 1;
}

.sign-in-options {
  flex: 2;
}

/* NAVBAR SIDE */
.mid-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.navbarSide {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #3c3c3c;
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 40%), 0 0 0 1px rgb(255 255 255 / 4%);
}

.navbarSide-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 16px;
  height: auto;
  min-height: 30rem;
  justify-content: center;
}

.navbarSide a {
  display: block;
  width: auto;
  letter-spacing: 2px;
  border-radius: 8px;
  /* font-family: '', cursive; */
  color: #ffc000;
  font-size: 14px;
  font-weight: 800;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 10px;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgb(1 1 1 / 30%);
}

.navbarSide a:hover {
  background-position: right center;
  color: #3b3b3b;
}
