@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "LifeCraft";
  src: "../public/LifeCraft_Font.ttf";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #312e28;
  color: white;
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.header > h1 {
  color: #f6c03b;
  font-family: "LifeCraft";
  font-size: 46px;
  text-shadow: 2px 0 10px #171512;
}

.header > img {
  max-width: 100px;
}

h2 {
  color: white;
  padding-left: 8px;
}

.task-completed {
  text-decoration: line-through;
  color: #cd7021;
}

.main-container {
  text-align: center;
  color: #a69274;
  width: 70vw;
  padding: 2rem;

  /* styling */
  background-color: #171512;
  border: 1px solid #3c3c3c;
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 40%), 0 0 0 1px rgb(255 255 255 / 4%);
}

ul {
  width: 100%;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background-image: url("./components/resources/incomplete-task.png");
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked + label {
  background-image: url("./components/resources/completed-task.png");
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

/* link colors */
a {
  color: #f3bd3d;
  text-decoration: none;
}

footer {
  margin-top: auto;
}

button {
  margin: 10px auto;
  width: 110px;
  letter-spacing: 2px;
  border-radius: 8px;
  /* font-family: '', cursive; */
  color: #ffc000;
  font-size: 14px;
  font-weight: 800;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgb(1 1 1 / 30%);
}
